<!DOCTYPE html>
<html lang="en">
<%- include('../layout/head'); %>
<body>
    <%- include('../layout/header'); %>
    <main>
        <div>
            <h1>Sobre mim</h1>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veniam sequi quod qui illum quas odit beatae! Adipisci ut, magnam sunt amet quibusdam similique cupiditate recusandae voluptatem soluta sapiente! Voluptates, quasi!</p>
        </div>
    </main>
    <%- include('../layout/footer', {pagina: 'Sobre'}); %>
</body>
</html>